@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e6e6;
  color: #333;
}

main {
  display: flex;
  align-items: center;
  gap: 2em;
}

.box {
  border: 1px solid #333;
  padding: 0.8em;
  background-color: #fff;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  font-size: 1.4em;
  font-weight: 500;
}

small {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: .5em;
}
