@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6200ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

main button {
  padding: 20px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 5px solid #3f3f3f;
  border-radius: 10px;
  cursor: pointer;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

main button p {
  margin: 0;
  text-transform: capitalize;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
